*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  text-align: center;
}


.mainpage-header{
  background-image: linear-gradient(to left, #00ccff, #ccffcc);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.favourite-link{
  padding: 10px;
  font-size: 20px;
  align-content:flex-end;
}

.mainpage-header input{
  display: inline-block;
  color: orangered;
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
  font-weight: 500;
}

.mainpage-header:before{
  display: inline-block;
  color: orangered;
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
  font-weight: 500;
  content:'/r/ ';
}


.reddit-posts post{
  display: block;
  padding: 20px;
  background-color: white;
}


.reddit-posts post h3{
  color: black;
}

.reddit-posts post:nth-child(2n){
  background-color: cyan;
}

.reddit-posts post:hover{
  background-image: linear-gradient(to left, #00ccff, #ccffcc);
}

.reddit-posts post button{
  margin-top: 10px;
}

.fav-header{
  background-image: linear-gradient(to left, #00ccff, #ccffcc);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: orangered;
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
  font-weight: 500;
}

.fav-posts fpost{
  display: block;
  padding: 20px;
  background-color: white;
}


.fav-posts fpost h3{
  color: black;
}

.fav-posts fpost:hover{
  background-image: linear-gradient(to left, #00ccff, #ccffcc);
}

.fav-posts fpost button{
  margin-top: 10px;
}

.returnBtn{
  font-size: 25px;
  font-weight: 400;
}





